* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* direction: rtl; */
}

body {
  background-color: #F1F1F1;
}

.cursor-pointer {
  cursor: pointer;
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #F1F1F1;
  border-radius: 30px;
  width: fit-content;
}

table {
  border: none;
}

table th:first-child {
  border-top-left-radius: 20px;
}

table th:last-child {
  border-top-right-radius: 20px;
}

table th {
  padding: 24px 10px;
  background-color: var(--main-color);
  color: #F1F1F1;
}

table td {
  padding: 10px;
}

table th,
table td {
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  width: calc(100% - 220px);
  padding: 1rem 2rem;
  height: 100vh;
  transition: width 0.3s ease;
  justify-content: flex-start;
  /* min-width: calc(100% - 60px); */
  margin-left: 220px;
  overflow-y: auto;
}

.t-container {
  overflow-x: auto;
  width: 100%;
}

.table-container {
  min-width: 600px;
  width: 100%;

  .actions-box {
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    width: 100%;

    button {
      color: #F1F1F1;
      font-size: 12px;

    }
  }
}

.select-page:focus,
.select-page {
  margin-left: 10px;
  background: var(--main-color);
  padding: 8px;
  border-radius: 20px;
  border: none;
  color: #F1F1F1;
  outline: none;
}

.pagination {
  margin-top: 10px;
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 12px;
  width: fit-content;
}

.container-pagination {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.btn-page:focus,
.btn-page {
  display: flex;
  align-items: center;
  padding: 0;
  border: none;
  outline: none;
}

.rotate {
  rotate: 180deg;
}

tbody {
  background-color: #fff;
}

.modal {
  background-color: var(--main-color);
  padding: 24px;
  border-radius: 20px;
  min-width: 300px;
  max-height: 570px;
}

.modal-container {
  background: #edd1ff80;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  color: white
}

.paragraph {
  padding: 16px 0;
}

.display {
  display: none;
}

.btn-export:focus,
.btn-rejected:focus,
.btn-accepted:focus,
.btn-rejected,
.btn-accepted,
.btn-export {
  outline: none;
  border: none;
  background-color: var(--main-color);
  color: white;
  padding: 0 20px;
  height: 40px;
  font-size: 14px;
}

.btn-rejected:focus,
.btn-rejected {
  background-color: #a71e1e;
  margin: 0 10px;
}

.btn-accepted:focus,
.btn-accepted {
  background-color: #0f710f;
  margin: 0 10px;
}

.pb-30 {
  padding-bottom: 03px;
}

.p-0 {
  padding: 0;
}

li::marker {
  content: none;
}

li.paragraph li {
  background: white;
  color: var(--main-color);
  border-radius: 7px;
  padding: 10px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    border: 1px solid var(--main-color);
    padding: 8px 16px;
    font-size: 14px;
  }

  input:focus,
  input {
    border: 1px solid var(--main-color);
    border-radius: 5px;
    max-width: 100px;
    outline: none;
    height: 20px;
    padding: 0 4px
  }

  .btn-accepted,
  .btn-rejected {
    height: 20px;
    width: 20px;
    font-size: 10px;
    padding: 0;
    margin: 0 2px;
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-box-dropdown {
  background-color: var(--main-color);
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  color: #F1F1F1;

  ul {
    position: absolute;
    top: 40px;
    background: var(--main-color);
    width: 100%;
    left: 0;
  }
}

.title-box {
  /* min-width: 600px; */
  width: 100%;
  margin-bottom: 20px;

  span svg:first-child {
    rotate: 90deg;
    cursor: pointer;
  }

  li {
    font-size: 14px;
    padding: 6px 0;
  }
}

.border-0 {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.rotate-animation {
  animation: rotate 3s linear infinite;
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

.listUpdate {
  list-style: none;
  padding-bottom: 10px;
  max-height: 400px;
  overflow-y: auto;
}

.remaining-time {
  position: absolute;
  top: 10px;
  right: 20px;
  background: white;
  padding: 5px;
  border-radius: 5px;
  color: var(--main-color);
}

.red-time {
  color: #a71e1e;
  animation: flash .5s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes flash {
  0% {
    color: #a71e1e;
  }

  100% {
    color: #fff;
  }
}

::-webkit-scrollbar {
  width: 2px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(175, 175, 175);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(206, 206, 206);
  border-radius: 10px;
}

.weather-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-info {
  width: 100%;
  display: flex;
  align-items: baseline;
  flex-direction: column;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 25px;
  color: var(--main-color);
  position: relative;
  box-shadow: 1px 3px 6px #ddd;

  h3 {
    margin: 20px 0;
  }
}

.weather-icon {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 0;
  top: -100px;
}

.form-container {
  padding: 30px;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(to right, var(--secondary-color), var(--main-color));
  display: flex;
  justify-content: center;
  align-items: center;

  .form-content {
    width: 80%;
    background: white;
    border-radius: 10px;
    display: flex;
    min-height: fit-content;
  }

  form {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    justify-content: center;

  }

  input:not([type="checkbox"]):not([type="radio"]) :focus,
  input:not([type="checkbox"]):not([type="radio"]) {
    background: var(--secondary-color);
    border: 0;
    padding: 10px;
    height: 50px;
    border-radius: 6px;
    color: var(--main-color);
    margin-bottom: 20px;
    outline: 0;
    border-bottom: 1px solid var(--main-color);
    font-size: 16px;
    width: 100%;
  }

  input:focus {
    background-color: rgb(233 233 233)
  }

  input[type="checkbox"] {
    outline: none;
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }

  input[type="checkbox"]:checked {
    accent-color: var(--main-color);
  }

  button {
    background-color: var(--main-color);
    color: white;
    outline: 0;
    height: 50px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 10px;
  }


  button:hover {
    background: linear-gradient(135deg, var(--main-color), #7b28c9);
    transform: translateY(-2px);
    box-shadow: 0 0 12px rgba(147, 51, 234, 0.5);
  }

  .form-image {
    width: 60%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  .login-link {
    text-decoration: none;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;

    svg {
      rotate: 270deg;
      cursor: pointer;
    }

    &:hover .box {
      animation: sway 1.5s ease-in-out infinite;
    }
  }

  .login-link:hover {
    color: #7b28c9;
  }

  p {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .p-relative {
    svg {
      cursor: pointer;
      position: absolute;
      bottom: 50%;
      right: 10px;
      mask-image: linear-gradient(-75deg,
          rgba(0, 0, 0, 0.2) 30%,
          rgba(0, 0, 0, 1) 50%,
          rgba(0, 0, 0, 0.2) 70%);
      mask-size: 200%;
      animation: shine 1.5s ease-in-out infinite;
    }
  }
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
}

.flex-input {
  display: flex;
  justify-content: start;
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.mb-1 {
  margin-bottom: 10px;
}

.p-relative {
  position: relative;
}

.text-center {
  text-align: center !important;
}

@keyframes shine {
  0% {
    mask-position: 150%;
  }

  100% {
    mask-position: -50%;
  }
}

@keyframes sway {

  0%,
  100% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10px);
  }
}